.container{
    width:105px ;
    height: 30px;
    background-color: aqua;
    border-radius: 30px;
    border: solid white 2px;
    color: black;
    background: rgb(0,146,70);
background: linear-gradient(90deg, rgba(0,146,70,1) 0%, rgba(255,255,255,1) 50%, rgba(206,43,55,1) 100%);
font-weight: 600;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px ;
    height: 50px;
    border-radius: 30px;
    border: solid white 2px;
    color: black;
    /* background: rgb(0,146,70); */
background: linear-gradient(90deg, rgba(0,146,70,1) 0%, rgba(255,255,255,1) 50%, rgba(206,43,55,1) 100%);
font-weight: 600;
font-size: 50px;
}


.custom_btn{
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: black;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    color: white;
}
.custom_btn {
    border: none;
    color: #000;
  }
  .custom_btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .custom_btn:hover {
    color: #000;
  }
  .custom_btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .custom_btn:active {
    top: 2px;
  }