.heartIcon{
    font-size: 24px;
    background-color: aliceblue;
    border-radius: 100%;
    border: solid thin green;
}
.heartIcon:hover{
    background-color: aliceblue;
    border-radius: 100%;
    border: solid thin green;
    color: red;
}

.image{
    object-fit:cover;
    transition:1s;
    min-width: 200px;
    max-width: 200px;
    min-height:100px;
}
.image:hover{
    object-fit: cover;
    transition:0.5s;
    min-width: 250px;
    max-width: 250px;
    min-height:100px;


}

